@import "vendor/bootstrap/bootstrap";

@media screen {
  // ----
  // Base
  // ----
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    hr {
      background: $ln-gold;
    }
    nav {
      background: $ln-coal;
    }
    main {
      -webkit-box-flex: 2;
      -ms-flex-positive: 2;
      flex-grow: 2;
    }
    footer {
      -ms-flex-negative: 0;
      flex-shrink: 0;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Cinzel Decoration', Cinzel, Alice, Robot, sans-serif;
    }
  }

  // ------
  // Layout
  // ------
  #scrollToTop {
    right: 3rem;
    width: 3rem;
    bottom: 2rem;
    height: 3rem;
    z-index: 9999;
    display: none;
    cursor: pointer;
    position: fixed;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .decoration-top {
    background-clip: border-box;
    background-origin: padding-box;
    background: transparent url('/web/img/background/decoration.png') no-repeat scroll center 0;
    background-size: cover;
    margin-bottom: -380px;
    min-height: 394px;
  }
  .box--message {
    background: $ln-coal-ghost;

    legend, p {
      color: inherit;
    }
  }
  .header--home {
    min-height: 65vh;
    background: $ln-green (url("../img/background/home.gif") no-repeat center);
    background-size: cover;
  }
  .news--home {
    border: .1rem solid $ln-gold;
    &:hover {
      border: .1rem solid lighten($ln-gold, 15%) !important;
    }
  }
  .container--news {
    article {
      @if (max-width: 576px) {
        margin: 0 .01rem;
      }
      border-radius: 1rem;
      background: $ln-coal;
      border: .1rem solid $ln-gold;
      &:hover {
        img {
          -webkit-filter: none;
          filter: none;
        }
      }
      img {
        -webkit-transition: .5s;
        transition: .5s;
        overflow: hidden;
        -webkit-filter: sepia(50%);
        filter: sepia(50%);
        width: 750px !important;
        height: 250px !important;
      }
    }
    img {
      height: 250px;
      width: 750px;
    }
    .content--news {
      h3 {
        @media screen and (max-width: 576px) {
          margin: 0 1rem;
        }
        font-weight: bold;
      }
      p {
        @media screen and (max-width: 576px) {
          margin: 0 1rem;
        }
        word-spacing: .1rem;
      }
    }
    .comment--news {
      span {
        font-size: .8rem !important;
        color: inherit;
      }
    }
  }
  .container--profil-title {
    background: $ln-coal-ghost;
    margin-top: -3vh;

    h1 {
      color: $ln-gold;
    }
  }
  .container--profil-info {
    background: rgba(129, 115, 84, .1);
    border: .1rem solid rgba(129, 115, 84, .3);

    img {
      width: 250px;
      height: 400px;
    }
    .profil--info-list {
      box-shadow: 0 0 .1rem $black;
      background: rgba(129, 115, 84, .2);
      li {
        list-style: none;

        span {
          font-weight: bold;
        }
      }
    }
    .profil--info-block {

      div {
        min-height: 15vh;
        box-shadow: 0 0 .1rem $black;
        background: rgba(129, 115, 84, .2);
      }
    }
  }
  .gold {
    color: $yellow;
    font-weight: normal;
  }
  .silver {
    color: silver;
    font-weight: normal;
  }
  .copper {
    color: sienna;
    font-weight: normal;
  }
  .legalmark {
    top: -.4em;
    font-size: .7rem;
    position: relative;
  }
  .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0;
    vertical-align: 0.165em;
    content: "";
    border-top: 0.2rem solid;
    border-right: 0.2rem solid transparent;
    border-bottom: 0;
    border-left: 0.2rem solid transparent;
  }
  .dropdown-menu {
    @media screen and (max-width: 576px) {
      border: none;
    }
    background: $ln-green;
    top: 95%;
    border-top: none;
    .dropdown-header {
      color: $ln-gold-ghost !important;
      font-size: .8rem;
    }
    .dropdown-item {
      color: inherit;
      &:hover {
        color: $ln-gold;
        background: $ln-coal-ghost;
      }
    }
    .dropdown-divider {
      border-top: 1px solid $ln-gold;
    }
  }
  .block--category {
    width: 30vw;
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    box-sizing: content-box;
    border: .1rem solid $ln-gold;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    box-shadow: 0 0 1.5rem $black inset;

    a {
      text-decoration: none;
      color: $ln-gold;
    }
    h5 {
      line-height: 5vh;
      text-shadow: 0 0 $ln-gold;
    }

    &:hover {
      .content-category {
        opacity: 1;
      }
    }

    .content-category {
      overflow-y: auto;
      background: rgba(12, 10, 16, .7);
      height: 25vh;
      opacity: 0;
      -webkit-transition: .5s ease;
      transition: .5s ease;

      p {
        line-height: 1.5rem;
      }
    }
    div:last-child, div:first-child {
      background: rgba(12, 10, 16, .7);
      line-height: 5vh;
      height: 5vh;
      width: 100%;

      p {
        line-height: 5vh;
      }
    }
  }
  .title--subcategory {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
  }
  .container--subcategory {
    background: $ln-coal;
    border-radius: 1rem;
    border: .1rem solid $ln-gold;
    box-sizing: border-box;
  }
  .title--topic {
    @extend .title--subcategory;
  }
  .container--topic {
    @extend .container--subcategory;
    background: rgba(129, 115, 84, .1);

    span {
      margin: 1rem 0 0 0;
      letter-spacing: .1rem;
      box-sizing: border-box;
    }
  }
  .avatar--message {
    position: relative;

    &:hover {
      .avatar-info--message {
        opacity: 1;
      }
    }

    .avatar-info--message {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      padding: .5rem;
      background: $ln-coal-ghost;
      -webkit-transition: .5s ease;
      transition: .5s ease;
    }
  }
  .chatbox--title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: rgba(129, 115, 84, .3);
    padding: .5rem;
    border: .1rem solid $ln-gold;
    span {
      font-family: 'Alice', Roboto, sans-serif;
    }
  }
  .chatbox--container {
    height: 65vh;
    overflow-y: auto;
    border: .1rem solid $ln-gold;
    border-top: none;
    box-shadow: 0 0 1.5rem black inset;
  }
  .chatForm {
    .trumbowyg-box {
      min-height: 0 !important;

      .trumbowyg-editor {
        min-height: 10vh !important;
      }
    }
  }
  .tavern--separator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    height: 30vh;
    blockquote {
      border-top: .1rem solid $ln-gold;
      border-bottom: .1rem solid $ln-gold;
    }
  }
  .display-info {
    cursor: help;
    .content-info {
      display: none;
    }
  }
  .messenger {
    border-radius: 1rem;
    border: .1rem solid $ln-gold;
    overflow: hidden;

    .title--messenger {
      background: rgba(129, 115, 84, .3);
      border-bottom: .1rem solid $ln-gold;
      padding: .5rem;
    }
    .users--messenger {
      height: 75vh;
      overflow-y: auto;
      border-bottom-left-radius: 1rem;
      background: $ln-gold-ghost;
      box-shadow: 0 0 1rem $ln-coal inset;
    }
    .message--messenger {
      height: 75vh;
      background: $ln-coal;
      border-bottom-right-radius: 1rem;
      padding: 0;

      .message-block--messenger {
        overflow-y: auto;
        padding: 1rem;

        div {
          border-radius: .5rem;
        }
      }

      .messenger-form {
        .trumbowyg-box {
          min-height: 0 !important;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          .trumbowyg-editor {
            min-height: 10vh !important;
            max-height: 50vh !important;
          }
        }

        button {
          border-bottom-right-radius: 1rem;
        }
      }
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  // ------
  // Module
  // ------
  .btn {
    color: $ln-gold;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background: $ln-coal;
    text-transform: uppercase;
    border: .1rem solid $ln-gold;

    &:hover {
      color: $ln-coal;
      background: $ln-gold;
      border: .1rem solid $ln-coal;
    }
  }
}

