<div class="container my-5">
    <div class="row flex-column">
        <h2 class="text-lg-left text-center col-lg-12">Foire aux questions</h2>
        <p class="text-justify col-lg-12">
            Vous trouverez ici les réponses les plus fréquentes sur l'Univers de Lande Noire
            et ses mécaniques de jeu. <br>
            Si vous n'y trouvez pas solution à votre problème, veuillez contacter l'administration.
        </p>
    </div>

    <ul class="nav nav-tabs nav-justified row text-center h4 mb-3">
        <li class="active col-lg-4">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Général</a>
        </li>
        <li class="active col-lg-4">
            <a href="#univers" aria-controls="univers" role="tab" data-toggle="tab">Univers</a>
        </li>
        <li class="active col-lg-4">
            <a href="#character" aria-controls="character" role="tab" data-toggle="tab">Personnage</a>
        </li>
    </ul>
    <div class="tab-content row">
        <div id="general" class="tab-pane active show fade in col-lg-12" role="tabpanel">
            <h3>Qu'est-ce que Lande Noire ?</h3>
            <p class="text-justify">
                Le projet Lande Noire a été initié printemps 2018 par
                <a href="/contact">Valentin Saint-Jean</a>.
                Lande Noire est une plate-forme gratuite de jeu de rôle sur forum basé sur une thématique
                original
                <span lang="en" translate="no">Dark Fantasy / SteamPunk</span>.
                <br>
                Son contenu mature propose un Univers sombre et violent.
                <strong>Nous le déconseillons aux moins de 18 ans</strong>.
            </p>

            <h3>Qu'est-ce que le jeu de rôle ?</h3>
            <p class="text-justify">
                Le jeu de rôle est une activité physique et/ou intellectuelle par laquelle on incarne un
                personnage réel ou fictif dans un univers préétabli.<br>
                Le concept de forum jeu de rôle – ou plus couramment appelé
                « forum <abbr title="Role Play">RP</abbr> » pour le terme anglais
                « <span lang="en" translate="no">role play</span> » –
                mélange l’aspect théâtral du jeu de rôle avec l’activité d’écriture. Le forum sert de
                support visuel où les utilisateurs se prêteront au jeu d’incarner un individu à travers des
                récits
                courts ou longs, chaque message posté faisant office de narration sur le parcours de leur
                personnage.
            </p>
        </div>

        <div id="univers" class="tab-pane fade col-lg-12" role="tabpanel">
            <h3>Où se passe le récit ?</h3>
            <p class="text-justify">
                Lande Noire se déroule sur Création, dans un pays côtier au nord-ouest du continent.
                Le royaume d'Arcadie s'est développé sur l'énergie de l'arcane, favorisant un
                développement industriel et militaire conséquent.
            </p>

            <h3>Peut-on inventer un lieu ?</h3>
            <p class="text-justify">
                Lande Noire est un bac à sable où vous construisez son Histoire.
                Nous vous invitons à inventer
                et à imaginer afin de rendre l'Univers encore plus riche.<br>
                Toutefois, veillez à rester dans la cohérence de l'Univers. Si
                vous avez des doutes, demandez à l'administration son aval.
            </p>

            <h3>Dois-je lire l'intégralité de l'Histoire ?</h3>
            <p class="text-justify">
                L'Histoire de Lande Noire sert de support pour avancer et profiter pleinement
                de l'Univers qui vous
                est proposé, mais elle n'est pas indispensable. Le contexte seul permet aux débutants de
                s'initier
                au jeu. Nous vous conseillons cependant de vous référer régulièrement à l'Histoire
                lors de vos
                choix et actions afin de coller avec l'Univers proposé.
            </p>

            <h3>Dois-je uniquement jouer dans ce pays ?</h3>
            <p class="text-justify">
                Oui. Les autres pays sont en conflit avec l'Arcadie et ne sont pas visitable. La mer est
                praticable mais une fois une certaine limite dépassée, les vaisseaux ennemis
                vous abattront.
                Les engins aériens sont réquisitionnés par l'État.
            </p>

            <h3>Suis-je obligé de suivre la trame principale ?</h3>
            <p class="text-justify">
                Non. Vous pouvez vivre vos propres aventures au sein de Lande Noire sans participer
                à son histoire. Mais comprenez que vos actes ne seront pas canoniques (ex. tuer le roi)
                et que vous subirez de manière passive les conséquences de la trame principale
                (ex. ville détruite).
            </p>

            <h3>Y a-t-il une avancée temporelle à l'Histoire ?</h3>
            <p class="text-justify">
                L'Univers de Lande Noire commence en l'an 1203. Chaque année "réelle" – à partir de 2018 –,
                l'Univers évoluera d'un an. Il y a donc une avancée temporelle permanente,
                obligeant les joueurs à la prendre comme point de repère.
                Les jours et les saisons ne varient pas selon notre réalité.
            </p>

        </div>

        <div id="character" class="tab-pane fade col-lg-12" role="tabpanel">
            <h3>Puis-je incarner qui je veux ?</h3>
            <p class="text-justify">
                À deux vitesses.
                Votre personnage vous appartient. Son histoire ainsi que son avenir, vous seul en êtes
                l'instigateur. Mais n'oubliez pas que pour être validé,
                votre personnage doit être cohérent avec l'Univers de Lande Noire.
            </p>

            <p class="text-justify">
                De plus, l'administration se chargera de réguler les fiches de personnage nuisant à
                la bonne
                pratique du forum et du confort des joueurs (trolls, anti-jeu, etc.). Si vous avez des
                difficultés lors de la création de votre personnage, l'administration se fera une joie
                de vous venir en aide.
            </p>

            <p class="text-justify">
                Notez qu'après la création de votre personnage, il ne vous sera plus possible d'en changer
                jusqu'à la cloture de son histoire ou de sa mort .
            </p>

            <h3>Que signifie la date de naissance ?</h3>
            <p class="text-justify">
                La date de naissance de votre personnage sert à connaître son âge. Vous décidez de sa
                date de naissance sur une tranche de 300 ans. Faites attention cependant au fait que l'âge
                de votre personnage est dynamique. Si vous lui donnez 41 ans lors de sa création, il en
                aura 42 l'an prochain.
            </p>

            <h3>Pourquoi ne puis-je pas modifier tous les champs de mon personnage ?</h3>
            <p class="text-justify">
                Les champs tels que la richesse et la réputation sont dynamiques.
                Vous en gagnerez ou en perdrez tout au long de vos aventures.
                Il est inutile de vouloir les changer.
                Le champs de l'âge est automatique. Enfin d'empêcher les tricheries sur le rajeunissement
                des
                personnages, vous ne pouvez pas le changer (sauf exception).
            </p>
        </div>
    </div>

    <div class="row">
        <p class="col-lg-12 text-center">
            Si ce que vous recherchez ne figure pas dans la F.A.Q., nous vous invitons à vous renseigner
            ou à ouvrir un sujet dans la partie <a href="/forum/assistance">assistance du forum</a>.
            <br>
            En cas de problème, <a href="/contact">contactez</a> l'administration.
        </p>
    </div>
</div>