<div class="container my-5">
    <div class="row flex-column">
        <h1 class="text-lg-left text-center col-lg-12">Règlement général</h1>
        <p class="text-justify col-lg-12">
            Bienvenue sur Lande Noire.<br>
            Vous trouverez ci-dessous le règlement général permettant une connaissance approfondie de
            ce qu'offre le forum. Sa lecture est <strong>obligatoire</strong> avant toute inscription.
            Lors d'une inscription, vous confirmez avoir lu et accepté l'entièreté du règlement général.
        </p>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-ln-gold">Propriété intellectuelle</h3>
            <p class="text-justify">
                www.lande-noire.online et ses sous-domaines appartiennent à <a href="/contact">
                    Valentin Saint-Jean
                </a> (administrateur et webdeveloper). Toute reproduction partielle ou totale de
                son contenu est interdite. L'intégralité des textes appartient à leurs auteurs.
                L'intégralité des images appartient à leurs auteurs.
            </p>
        </div>
        <div class="col-lg-12">
            <h3 class="text-ln-gold">Âge conseillé</h3>
            <p class="text-justify">
                Lande Noire est une plateforme qui s'adresse avant tout à un public mature et/ou majeur.
                Son contenu peut être inapproprié pour certaines personnes (violence, langage grossier,
                érotisme, épouvante, etc.). Nous déconseillons son utilisation aux moins de 18 ans.
            </p>
        </div>
        <div class="col-lg-12">
            <h3 class="text-ln-gold">Bienséance</h3>
            <p class="text-justify">
                Tout commentaire diffamatoire, vexant ou insultant envers les joueurs et en-dehors du jeu
                est prohibé. Le refus à cette règle entraînera le bannissement de l'utilisateur.
            </p>
        </div>
        <div class="col-lg-12">
            <h3 class="text-ln-gold">Cohérence scénaristique</h3>
            <p class="text-justify">
                L'univers du jeu se déroule dans une époque victorienne. Vous acceptez de rester cohérent
                avec les éléments de cette époque et/ou les éléments propres à Lande Noire. Le non respect
                de cette règle et/ou l'abus d'éléments irréalistes verra la suppression des sujets
                concernés et la possibilité d'un bannissement en cas d'acharnement.
            </p>
            <p class="text-justify">
                Vous veillerez à utiliser un pseudonyme lors de votre inscription en relation avec la race
                que vous désirez incarner. Toute ressemblance avec une personnalité célèbre et/ou réelle
                est interdite. Tout contenu à caractère pornographique et/ou politique est prohibé et
                entraînera le bannissement immédiat du compte.
            </p>
        </div>
        <div class="col-lg-12">
            <h3 class="text-ln-gold">Investissement</h3>
            <p class="text-justify">
                La création de comptes secondaires est autorisé à condition de renseigner l'email du compte
                principale. Le refus à cette règle entraînera le bannissement du compte secondaire et d'un
                avertissement pour le compte principal.<br>
                En cas de compte secondaire, vous acceptez être en mesure de gérer plusieurs comptes
                simultanément. Les comptes fantômes de plus de 6 mois d'inactivité seront suspendus.
            </p>
            <p class="text-justify">
                Vous acceptez d'être actif le plus rapidement possible lorsque vous acceptez l'invitation
                d'un autre joueur, afin d'éviter les abandons de récit et de ne bloquer aucun parti.
            </p>
        </div>
        <div class="col-lg-12">
            <h3 class="text-ln-gold">Avatars</h3>
            <p class="text-justify">
                Votre avatar doit se présenter aux dimensions de 250 pixels de largeur et 400 pixels
                d'hauteur. Vous veillerez à utiliser une imagede type
                <em lang="en" translate="no">digital painting</em>. Les images de type : photographie ;
                réalisme ; manga ; dessin et sketch ne sont pas autorisés. Les images à caractère
                pornographique et/ou politique sont prohibés et entraîneront le bannissement immédiat du
                compte.
            </p>
        </div>
    </div>
</div>