<section class="container my-5">
    <h1 class="my-3 text-ln-gold font-weight-bold">Les Askafroas</h1>

    <ul class="nav nav-tabs nav-justified text-center h4 mb-3 py-3">
        <li class="active col-lg-3">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Général</a>
        </li>
        <li class="active col-lg-3">
            <a href="#religion" aria-controls="univers" role="tab" data-toggle="tab">Rites & croyances</a>
        </li>
        <li class="active col-lg-3">
            <a href="#coutume" aria-controls="character" role="tab" data-toggle="tab">Us & coutumes</a>
        </li>
        <li class="active col-lg-3">
            <a href="#politique" aria-controls="character" role="tab" data-toggle="tab">
                Politique & armée
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="general" class="tab-pane show fade in active row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-askafroa.jpg" alt="Askafroas"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Description</h3>
                    <p>
                        Race originaire de Création, les Askafroas sont un peuple nomade ayant toujours tenu tête au sud de l'Empire humain. Ils puisent leur force de la Nature et non de l'Arcane, qu'ils ont toujours rejetté. Ce sont des êtres dotés d'un esprit farouche et d'un sens aigu de l'impartialité. Leur communauté érigée sur une idéologie matriarchale n'a plus rien à prouver.
                    </p>
                    <p>
                        Calme et mystérieuse, cette race a toujours empêché l'expansion de l'humanité ou des Ondins sur leurs terres grâce à leur don étrange. S'ils ne se vantent pas d'avoir un lien direct avec la Nature, il est certain qu'ils connaissent les moindres recoins de leurs forêts et chaque pierre de leurs montagnes. Leur constitution robuste et leur grande vélocité ont font des adversaires redoutables. Malgré cela, les Askafroas restent des êtres primitifs ayant peu d'intérêts en la technologie et la civilité.
                    </p>
                    <h3 class="text-ln-gold-ghost">Apparence</h3>
                    <p>
                        Considérés comme mi-homme mi-animal, les Askafroas sont dotés d'une longue pair d'oreils semblables à celle des Ondins d'antan. Ils possèdent également un couple de cornes aux dimensions et à l'aspect divergeant selon l'individu et le sexe. Enfin, ils sont dotés de puissants sabots. Les Askafroas mesurent entre un mètre quatre-vingts-neuf et deux mètres dix, pour un poids entre quatre-vingt et cent kilos.
                    </p>
                </div>
            </div>
        </div>

        <div id="religion" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-askafroa.jpg" alt="Askafroas"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Divinités</h3>
                    <p>
                        Les Askafroas vénèrent les Aska et particulièrement Nystra, la déesse-mère.
                    </p>
                    <p>
                        Les Askafroas pensent être nés du chagrin de Nystra, aussi fragiles et éphémères qu'une larme. Selon leur croyance, les Askafroas auraient été bannis du royaume de Nystra après avoir pactisé avec Agonar, le génie, qui les auraient dupés. Ils aspirent à retrouver un jour leur place au royaume de leur déesse-mère.
                    </p>
                    <h3 class="text-ln-gold-ghost">Rites & funérailles</h3>
                    <p>
                        Les Askafroas aiment célébrer les Aska autour de repas et de fêtes. Il n'y a cependant aucune régularité autour de ces pratiques. Il peut se passer plusieurs jours sans festin selon la situation de la communauté.
                    </p>
                    <p>
                        La mort est un terme inconnu pour les Askafroas. Elle se rapproche d'un sommeil éternel. Dans leur croyance, le rêve est le lien qui les rappelle à Nystra. Ainsi la mort peut se voir comme le rappel définitif auprès de la déesse-mère. Les corps sont poussés dans des barques sur l'eau, s'assurant que le sommeil soit bercé par les vagues.
                    </p>
                    <h3 class="text-ln-gold-ghost">Hiérarchie</h3>
                    <p>
                        Le chaman s'occupe du rite du défunt et des préparatifs à la fête.
                    </p>
                </div>
            </div>
        </div>

        <div id="coutume" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-askafroa.jpg" alt="Askafroas"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Éducation</h3>
                    <p>
                        L'éducation chez les Askafroas se fait au travers des anciens. Chacun apportant sa connaissance aux plus jeunes. Ainsi l'éducation est un héritage bien disctinct chez les communautés.
                    </p>
                    <p>
                        Les Askafroas sont considérés comme mineur jusqu'à vingt ans et sénior à l'âge de cent ans.
                    </p>
                    <h3 class="text-ln-gold-ghost">Relation</h3>
                    <p>
                        L'union est important chez les Askafroas, mais ils ne sont pas monogames. Si le premier lien est célébré devant le chaman, il n'est pas interdit d'avoir plusieurs amants.
                    </p>
                    <h3 class="text-ln-gold-ghost">Célébration</h3>

                </div>
            </div>
        </div>

        <div id="politique" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-askafroa.jpg" alt="Askafroas"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Dirigeant</h3>
                    <p>
                        Les communautés sont dirigées par la matriarche, première épouse du chaman, qui gère les ressources de chacun. Elle reçoit régulièrement les membres de la communauté en audiance et s'occupe de calmer les conflits.
                    </p>
                    <h3 class="text-ln-gold-ghost">Armée</h3>
                    <p>
                        Si les hommes sont trop occupés à l'art, l'éducation et à la construction. Les femmes, grâce à leur vélocité naturelle, sont de redoutables chasseresses et guerrières. Elles constituent la force militaire des communautés et sont chargées de protéger les biens. Lorsqu'un conflit majeur éclate, les hommes prennent les armes derrière les premières lignes, prêts à charger de leur masse imposante après que les femmes aient ouvert une brèche dans la défense ennemie.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
