<section class="container my-5">
    <h1 class="my-3 text-ln-gold font-weight-bold">Les Automates</h1>

    <ul class="nav nav-tabs nav-justified text-center h4 mb-3 py-3">
        <li class="active col-lg-3">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Général</a>
        </li>
        <li class="active col-lg-3">
            <a href="#religion" aria-controls="univers" role="tab" data-toggle="tab">Rites & croyances</a>
        </li>
        <li class="active col-lg-3">
            <a href="#coutume" aria-controls="character" role="tab" data-toggle="tab">Us & coutumes</a>
        </li>
        <li class="active col-lg-3">
            <a href="#politique" aria-controls="character" role="tab" data-toggle="tab">
                Politique & armée
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="general" class="tab-pane show fade in active row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-automate.jpg" alt="Automates"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Description</h3>
                    <p>
                        Esclaves modernes, les Automates sont d'infatigables robots dont le coeur en arcanite leur offre une force et une longévité à toute épreuve. Aussi curieuse que travailleuse, cette nation artificielle a été l'élément victorieux lors de la création de l'Empire.
                    </p>
                    <p>
                        Créé par l'humain dans le but de lui alléger les tâches pénibles et fastidieuses, l'Automate reçoit dès sa création une fonction attitrée. Le plus souvent manuelle ou administrative. Ceux vendus aux particuliers reçoivent un propriétaire unique à qui ils doivent obéissance et protection jusqu'à leur désactivation. Les robots sans demeure finissent au mieux dans une reconversion par l'État, au pire à la casse.
                    </p>
                    <h3 class="text-ln-gold-ghost">Apparence</h3>
                    <p>
                        Conçus en fer pour la majorité d'entre eux, les Automates anthropomorphes mesurent moins de deux mètres, pour raisons pratiques. Leur poids varie dans les cent trente kilos et leur garantie de fonctionnement entre dix à quinze ans selon l'utilisation.
                    </p>
                </div>
            </div>
        </div>

        <div id="religion" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-automate.jpg" alt="Automates"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Divinités</h3>
                    <p>
                        Curieusement, les Automates ont au fil du temps acquis la faculté de l'imaginaire. De ça, ils ont appris à croire
                        en un messie capable de les émanciper et les libérer de leur condition d'esclavage. Ce messie, connue sous le nom de
                        « Grand Architecte », serait un hybride à la fois robot et humain, capable de rallier son peuple vers la liberté.
                    </p>
                    <h3 class="text-ln-gold-ghost">Rites & funérailles</h3>
                    <p>
                        Le Grand Architecte n'a pas besoin d'offrandes ou de célébration. Il arrivera coûte que coûte. Cependant, les
                        Automates aiment dessiner çà et là en son hommage un grand rouage encerclant un oeil ouvert.
                    </p>
                    <p>
                        Les funérailles n'existent pas chez les Automates. Leur carcasse étant recyclée par les humains, ils n'ont que leurs
                        souvenirs pour regretter leur camarade.
                    </p>
                    <h3 class="text-ln-gold-ghost">Hiérarchie</h3>
                    <p>
                        Il n'existe pas de hiérarchie religieuse chez les Automates. Seul le messie est au-dessus de tout.
                    </p>
                </div>
            </div>
        </div>

        <div id="coutume" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-automate.jpg" alt="Automates"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Éducation</h3>
                    <p>
                        Les Automates récemment créés reçoivent leurs instructions et le règlement général des robots à l'usine avant de voir le nom de leur propriétaire gravé à même le coeur.
                    </p>
                    <p>
                        Les Automates étant considérés comme des machines, ils ne bénificent d'aucune faveur et sont considérés comme tel
                        jusqu'à leur désactivation.
                    </p>
                    <h3 class="text-ln-gold-ghost">Relation</h3>
                    <p>
                        L'amour est un sentiment inexistant chez l'Automate. Il peut cependant faire preuve de sympathie envers autrui.
                    </p>
                    <h3 class="text-ln-gold-ghost">Célébration</h3>
                    <p>
                        Les Automates n'ont aucune fêtes.
                    </p>
                </div>
            </div>
        </div>

        <div id="politique" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-automate.jpg" alt="Automates"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Dirigeant</h3>
                    <p>
                        Les Automates n'ont à proprement parlé aucun dirigeant. Ils obéissent uniquement à leur supérieur humain ou à leur propriétaire.
                    </p>
                    <h3 class="text-ln-gold-ghost">Armée</h3>
                    <p>
                        Les Automates n'ont pas d'effectif militaire. Ils servent dans l'armée humaine.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
