<section class="container my-5">
    <h1 class="my-3 text-ln-gold font-weight-bold">Les Humains</h1>

    <ul class="nav nav-tabs nav-justified text-center h4 mb-3 py-3">
        <li class="active col-lg-3">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Général</a>
        </li>
        <li class="active col-lg-3">
            <a href="#religion" aria-controls="univers" role="tab" data-toggle="tab">Rites & croyances</a>
        </li>
        <li class="active col-lg-3">
            <a href="#coutume" aria-controls="character" role="tab" data-toggle="tab">Us & coutumes</a>
        </li>
        <li class="active col-lg-3">
            <a href="#politique" aria-controls="character" role="tab" data-toggle="tab">
                Politique & armée
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="general" class="tab-pane show fade in active row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-human.jpg" alt="Humains"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Description</h3>
                    <p>
                        Race prolifique et variée, mais aussi fugace et fragile, l'humanité a pu au fil des siècles
                        s'emparer du titre de nation dominante. Grâce à son adaptation, elle continue encore aujourd'hui
                        à exceller dans de nombreux domaines, lorsque son caractère conquérant ou corruptible ne la met
                        pas en péril.
                    </p>
                    <p>
                        Originaire d'une autre dimension, l'humanité apparut sur Création il y a à peu près un
                        millénaire. Les victimes de cet évènement vécurent en clan sectaire jusqu'à leur union sous une
                        seule et même bannière. Désormais, leur règne a changé à jamais la face du Monde.
                    </p>
                    <h3 class="text-ln-gold-ghost">Apparence</h3>
                    <p>
                        Commun à un grand nombre de régions, les humains ont une apparence aussi définie que variée. Ils
                        mesurent moins de deux mètres, ont un poids variable au-dessus de cinquante kilos ainsi qu'une
                        longévité proche de quatre-vingts ans.
                    </p>
                </div>
            </div>
        </div>

        <div id="religion" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-human.jpg" alt="Humains"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Divinités</h3>
                    <p>
                        Bien que les premiers colons humains furent bouleversés par la disparition de
                        leur Monde, leur foi ne se détériora pas pour autant. L'humanité croit en la
                        Lumière : divinité omnipotente et immatérielle à l'origine de tout. Ainsi que son
                        alter ego : le Néant où rien ne peut exister, ni même la conscience.
                    </p>
                    <h3 class="text-ln-gold-ghost">Rites & funérailles</h3>
                    <p>
                        L'humanité aspire à la bonté absolue afin de faire partie de la Lumière lors du trépas. Dans le
                        cas contraire, leur conscience s'en irait mourir dans le Néant pour l'éternité. Il est coutûme
                        pour les croyants de sacrifier une de leur journée à l'entraide collective de leur ville ou
                        village. S'ils sont incapables d'honorer ce jour, ils peuvent se racheter auprès de l'église en
                        contrepartie d'une somme d'argent ou d'arcane.
                    </p>
                    <p>
                        Les funérailles varient selon la richesse de la famille du défunt. Ainsi, une personne aisée se
                        verra enterrer dans un caveau afin que son esprit puisse retrouver facilement les siens
                        et les guider de sa lumière. Tandis que les personnes les plus pauvres se contenteront d'un
                        bucher cérémonial, espérant que le défunt puisse un jour retrouver ses proches pour les
                        guider. La noblesse enterre systèmatiquement ses morts.
                    </p>
                    <h3 class="text-ln-gold-ghost">Hiérarchie</h3>
                    <p>
                        L'Église de la Lumière comporte plusieurs rangs :
                    </p>
                    <ul>
                        <li>
                            Cardinal : il représente l'autorité de la foi après l'Empereur. Son rôle est
                            de maintenir l'ordre et la prospérité au sein de l'Empire.
                        </li>
                        <li>
                            Archevèque : les archevèques s'occupent de leur pays respectif et font leur
                            contre-rendu au cardinal.
                        </li>
                        <li>
                            Évêque : les évêques s'occupent d'une province définie et font leur contre-rendu à leur
                            archevèque respectif. Ils jouent généralement le rôle de prêtre dans une ville
                            importante ou d'un chef-lieu. Ils font leur contre-rendu à l'archevèque de
                            leur pays.
                        </li>
                        <li>
                            Prêtre : personne de foi qui s'occupe des villages et des villes moyennes. Ils font leur
                            contre-rendu à l'évêque de la province.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="coutume" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-human.jpg" alt="Humains"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Éducation</h3>
                    <p>
                        Les Humains reçoivent l'éducation de leur famille – ou d'une nourrice pour les plus aisés – jusqu'à l'âge de dix-huit ans, où ils sont considérés majeur et sont enrôlés dans l'armée jusqu'à leur vingt-et-un ans. L'éducation humaine varie selon le rang social. Le peuple, ayant peu de revenus, préféra éduquer l'enfant aux corvées et à l'entraîde familiale afin de subvenir aux besoins. Tandis que les plus aisés focaliseront l'éducation sur la culture, les armes et la politique.
                    </p>
                    <p>
                        Les Humains sont considérés comme mineur jusqu'à dix-huit ans et sénior à l'âge de soixante ans.
                    </p>
                    <h3 class="text-ln-gold-ghost">Relation</h3>
                    <p>
                        L'amour est aussi bien un sentiment qu'une arme au sein de la société humaine, pouvant forger des alliances entre familles. Cela peut être des mariages arrangés comme d'amour entre deux personnes qui se fréquentent. Il est convenu de prohiber tout rapport avant le mariage, bien que non tabou dans la culture humaine. L'âge moyen des mariages est de vingt-cinq ans, mais varie selon les rangs sociaux. Le mariage se fait à l'église pendant le sâcrement du prêtre afin d'unir les deux élus dans la Lumière.
                    </p>
                    <h3 class="text-ln-gold-ghost">Célébration</h3>
                    <p>
                        Les Humains ont plusieurs célébrations :
                    </p>
                    <ul>
                        <li>Ils fêtent le dernier jour de l'an, afin que la Lumière puisse à nouveau rallonger les jours et chasser les ténèbres.</li>
                        <li>Ils fêtent le jour de la moisson en avril pour que les récoltes soient bonnes.</li>
                        <li>Ils fêtent le 21 août pour la création de l'Empire.</li>
                        <li>Ils fêtent en octobre le jour des morts, honorant leur mémoire afin qu'ils
                        puissent continuer à veiller sur eux.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="politique" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-human.jpg" alt="Humains"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Dirigeant</h3>
                    <p>
                        L'Empereur a le pouvoir absolu sur l'Empire. Il est assisté d'un haut-conseil réunissant la noblesse qui l'assisteront sur plusieurs points : politique, militaire, finance, religion, etc.
                    </p>
                    <p>
                        Chaque province est dirigée par un baron qui s'occupe de faire son rapport et de remettre les taxes aux services de l'Empeureur. Le baron est aidé de bourgmestres qui dirigent les villes et villages en son nom.
                    </p>
                    <h3 class="text-ln-gold-ghost">Armée</h3>
                    <p>
                        L'armée de l'Empereur est divisée en trois composants avec leur dirigeant respectif qui siége au haut-conseil :
                    </p>
                    <ul class="list-unstyled">
                        <li>L'armée terrestre dirigée par le Général.</li>
                        <li>L'armée aérienne dirigée par le Maréchal.</li>
                        <li>L'armée navale dirigée par l'amiral.</li>
                    </ul>
                    <p>
                        Le Général a à sa disposition de Commandants qui s'occupent de transmettre ses ordres. Ceux-ci dirigent chacun divers lieutenant qui ont à leurs ordres une centaine d'artilleurs.
                    </p>
                    <p>
                        Le Maréchal dispose des capitaines à ses ordres. Ceux-ci dirigent les lieutenants qui manoeuvrent une centaine d'aviateurs.
                    </p>
                    <p>
                        L'Amiral dirige plusieurs Commodores qui ont eux-mêmes des lieutenants à leurs ordres pour une centaine de marins.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
