<section class="container my-5">
    <h1 class="my-3 text-ln-gold font-weight-bold">Les Malemorts</h1>

    <ul class="nav nav-tabs nav-justified text-center h4 mb-3 py-3">
        <li class="active col-lg-3">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Général</a>
        </li>
        <li class="active col-lg-3">
            <a href="#religion" aria-controls="univers" role="tab" data-toggle="tab">Rites & croyances</a>
        </li>
        <li class="active col-lg-3">
            <a href="#coutume" aria-controls="character" role="tab" data-toggle="tab">Us & coutumes</a>
        </li>
        <li class="active col-lg-3">
            <a href="#politique" aria-controls="character" role="tab" data-toggle="tab">
                Politique & armée
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="general" class="tab-pane show fade in active row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-malemort.jpg" alt="Malemorts"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Description</h3>
                    <p>
                        Goules immortelles, les Malemorts sont des êtres transformés le jour de leur mort,
                        contaminés par l'Arcane qui les empêche de trouver le repos éternel. Rejetés par
                        leur
                        ancienne nation, ces créatures cadavériques vivent tels des monstres dans des
                        endroits cachés.
                        La densité de leur population reste inconnue.
                    </p>
                    <p>
                        S'ils conservent toute leur intelligence et leur esprit lors de la transformation, les Malemorts acquièrent cependant une matérialisation des émotions. Celle-ci se
                        matérialise au niveau des yeux par une lueur chaude et une lueur froide,
                        trahissant leur véritable nature, s'ils se laissent emporter.
                    </p>
                    <h3 class="text-ln-gold-ghost">Apparence</h3>
                    <p>
                        Anciens vivants, ils conservent leur taille d'origine mais perdent considérablement en poids.
                        Bien
                        qu'immortelle, les goules sont obligées de consommer régulièrement de la viande fraîche pour
                        remplacer leurs tissus décomposés et conserver une apparence d'être vivant. Sans quoi ils
                        finiraient à l'aspect cadavérique puis en poussière.
                    </p>
                </div>
            </div>
        </div>

        <div id="religion" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-malemort.jpg" alt="Malemorts"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Divinités</h3>
                    <p>
                        Les Malemorts sont des êtres profondément nihilistes. N'ayant pu connaître le repos après la mort, ces esprits errant valsent
                        entre le chagrin de l'âme et la haine des croyances. Il n'est cependant pas rare de voir dans les regroupements malemorts un
                        culte en l'honneur de la Mort personnifiée, qui se rapproche davantage d'une philosophie que d'une religion. La Mort est souvent
                        surnommée « la Mère », dans leur culte.
                    </p>
                    <p>
                        Les Malemorts prient la Mort comme une mère impartiale et bienveillante qui les aurait choisis pour en faire une famille. Ils
                        suivent son enseignement tel qu'interdire les fratricides ou aider un frère ou une soeur dans le besoin. L'enseignement le plus
                        important est de chérir cette non-vie offerte en préservant son corps de la destruction.
                    </p>
                    <h3 class="text-ln-gold-ghost">Rites & funérailles</h3>
                    <p>
                        Il n'existe pas de rites chez les Malemorts. Aimer la Mère à chaque instant et respecter ses enseignements semblent être suffisant
                        pour être admis dans la culture malemort. Seuls les volontaires peuvent se convertir en « Aîné » pour apprendre les enseignements
                        par coeur et prêcher la parole de la non-vie à qui veut l'entendre.
                    </p>
                    <p>
                        Les funérailles ne sont pas définis et peuvent varier selon la région et le regroupement malemort concerné. Certains veilleront sur
                        les restes le temps d'une incinération tandis que d'autres préféront dévorer le cadavre afin de conserver une part du défunt en eux.
                    </p>
                    <h3 class="text-ln-gold-ghost">Hiérarchie</h3>
                    <p>
                        Il n'existe pas de hiérarchie religieuse chez les Malemort, étant tous considérés comme frères et soeurs. Seuls certains d'entre eux
                        se dévouent à l'étude des enseignements de la Mère afin de les propager. Ces initiés reçoivent le titre d'« Ainés ». Hormis le respect
                        et la protection de leurs semblables, les Ainés n'ont aucun privilèges.
                    </p>
                </div>
            </div>
        </div>

        <div id="coutume" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-malemort.jpg" alt="Malemorts"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Éducation</h3>
                    <p>
                        Les Malemorts fraîchement renés sont souvent déboussolés et apeurés. Il est important pour les regroupements malemorts de les
                        retrouver avant qu'ils ne sombrent dans la folie suite à leur nouvelle condition inattendue. Ceux-ci reçoivent l'aide nécessaire
                        à l'acceptation de la non-vie et à une préparation minutieuse pour se méfier des vivants. Leur « renaissance » commence par leur
                        premier repas ainsi qu'un baptême. Ils peuvent cependant conserver leur identtié s'ils le souhaitent.
                    </p>
                    <p>
                        Quelque soit l'âge auquel ils sont morts, les Malemorts sont considérés comme adulte. Un enfant de huit ans peut avoir plus
                        d'expérience dans la non-vie qu'un sénior récemment baptisé.
                    </p>
                    <h3 class="text-ln-gold-ghost">Relation</h3>
                    <p>
                        L'amour est un sentiment ambigu chez les Malemorts. Ne pouvant se reproduire, l'amour est un état surfait que beaucoup observe
                        avec logique et fatalité. Certains, encore attachés aux affres de leur existence d'être vivant, n'ont aucun problème à tenir
                        une relation platonique. Il n'existe pas de cérémonie d'union chez les Malemorts.
                    </p>
                    <h3 class="text-ln-gold-ghost">Célébration</h3>
                    <p>
                        Les Malemorts n'ont pas de célébration particulière. Ils aiment relativement bien célébrer le jour de leur mort ainsi que la fête des
                        morts, le deux novembre.
                    </p>
                </div>
            </div>
        </div>

        <div id="politique" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-malemort.jpg" alt="Malemorts"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Dirigeant</h3>
                    <p>
                        Les Malemorts n'ont pas de dirigeant universel. Chaque membre du groupe a sa propre voix lors d'une assemblée. Celui qui récolte le
                        plus de voix voit son plan mis à exécution. Ce post est très éphémère. Les Malemorts n'ayant pas rejoint de groupe se plient aux
                        règles du lieu où ils ont élu domicile.
                    </p>
                    <h3 class="text-ln-gold-ghost">Armée</h3>
                    <p>
                        Si les Malemorts sont une arme à eux tout seuls, ils ont besoin d'organisation pour réussir des assaults d'envergure. Les groupes de
                        Malemorts entraînent régulièrement leurs membres au combat au corps à corps pour les plus robutes et véloces d'entre eux, tandis que
                        les plus rusés et observateurs étudient l'art de la stratégie. Si ces rebelles entraînés ne constituent qu'une menace de bandits de
                        grand chemin, leurs attaques ont cependant un taux de réussite presque parfaite à chaque fois.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
