<section class="container my-5">
    <h1 class="my-3 text-ln-gold font-weight-bold">Les Ondins</h1>

    <ul class="nav nav-tabs nav-justified text-center h4 mb-3 py-3">
        <li class="active col-lg-3">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Général</a>
        </li>
        <li class="active col-lg-3">
            <a href="#religion" aria-controls="univers" role="tab" data-toggle="tab">Rites & croyances</a>
        </li>
        <li class="active col-lg-3">
            <a href="#coutume" aria-controls="character" role="tab" data-toggle="tab">Us & coutumes</a>
        </li>
        <li class="active col-lg-3">
            <a href="#politique" aria-controls="character" role="tab" data-toggle="tab">
                Politique & armée
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="general" class="tab-pane show fade in active row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-ondin.jpg" alt="Ondins"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Description</h3>
                    <p>
                        Race originaire de Création, elle était jadis la nation dominante du continent. Lors de l'avènement du grand Schisme et de l'arrivée de l'humanité, une guerre éclata entre les Ondins et cette dernière. Voyant que la victoire était impossible, les Ondins utilisèrent leur savoir en arcane pour transformer leur peuple en créature aquatique, afin de survivre et établir une offensive dans les abysses, où l'humanité ne pouvait les atteindre.
                    </p>
                    <p>
                        Race extrêmement intelligente et rusée, les Ondins sont liés intrinséquement à l'Arcane qui coule dans leurs veines. Bien que leur apparence aquatique inspirerait le contraire, ce sont de grands amateurs d'art et de rhétorique. Ce sont de redoutables marchands. Certains d'entre eux ont abandonné leur vieille rancune envers l'humanité pour faire commerce. Considérablement réduite par la guerre, la population des Ondins ne se compte plus qu'en dizaine de million d'individus.
                    </p>
                    <h3 class="text-ln-gold-ghost">Apparence</h3>
                    <p>
                        Créatures à l'aspect visqueux, leur forme est confuse et indéfinie, selon l'action que l'Arcane a eu sur eux. Leur aspect est hérédité de leurs deux parents. Ils mesurent en moyenne deux mètres quinze pour un corps élancé de moins de cent kilos. Ils ont une longévité de deux siècles.
                    </p>
                </div>
            </div>
        </div>

        <div id="religion" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-ondin.jpg" alt="Ondins"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Divinités</h3>
                    <p>
                        Les Ondins sont monothéistes. Leur divinité, Ogham, serait mort il y a des âges. Ce cataclysme aurait été une bénédiction puisqu'il engendra Création tel que nous la connaissons. Les Ondins prient Ogham pour l'apaiser et qu'il ne revienne jamais à la vie, sans quoi le Monde pourrait bien connaître sa fin.
                    </p>
                    <h3 class="text-ln-gold-ghost">Rites & funérailles</h3>
                    <p>
                        Des temples et autels oghamiques sont érigés un peu partout dans la culture ondine. Les rites ondins sont avant tout sacrificiels. Le dernier du mois, chaque maison doit sacrifier un animal et verser le sang dans une coupe où baignent trois cristaux d'arcane. Ceux-ci représentent le coeur, les yeux et le corps d'Ogham. Après quoi, un dévoué des familles doit transporter le calice au temple le plus proche afin d'y verser le contenu dans un conteneur collectif. La myhtologie veut que le jour où les récipients seront vides annoncerait le retour d'Ogham et la fin du Monde.
                    </p>
                    <p>
                        Les funérailles ondins ont drastiquement changé depuis leur société aquatique. Si leur coutûme ressemblait auparavant à celle des humains, elle se veut aujourd'hui plus écologique. Les défunts sont nettoyés de toute impurté avant d'être coulés dans un énorme dome ouvert sur l'extérieur visible par tous. Ce dome est composé majoritairement d'algues carnivores qui se repaîtront du cadavre. Ces mêmes algues nourrirront ensuite la faune locale qui sert de nourriture à la société ondine. Ainsi, le cycle perpétue.
                    </p>
                    <h3 class="text-ln-gold-ghost">Hiérarchie</h3>
                    <p>
                        L'Église oghamique ne comporte que deux rangs :
                    </p>
                    <ul>
                        <li>
                            L'Oracle : il sert de geôlier à l'esprit d'Ogham. Il dirige la religion en dictant les présages. Il a une voix importante dans la décision du Conseil politique.
                        </li>
                        <li>
                            Les Apôtres : gardiens des temples, les apôtres veillent à la récolte du sang et à prêcher la parole de l'Oracle.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="coutume" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-ondin.jpg" alt="Ondins"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Éducation</h3>
                    <p>
                        Les Ondins reçoivent une éducation obligatoire jusque l'âge de soixante ans. Après quoi ils doivent choisir une voie qui leur sera attribuée toute leur vie : le commerce, la guerre, l'art, la politique ou l'agriculture. Ce rôle définira leur place dans la société ondine. Ceux n'ayant choisi aucune voie ne bénéficient d'aucune aide. Bien qu'ils ne sont pas rejettés, ils sont considérés comme des parias. ils vivent à leurs dépends.
                    </p>
                    <p>
                        Les Ondins sont considérés comme mineur jusqu'à quatre-vingts ans et sénior à l'âge de deux cents cinquante ans.
                    </p>
                    <h3 class="text-ln-gold-ghost">Relation</h3>
                    <p>
                        L'amour est un art chez les Ondins. Aussin important que la vie elle-même. Lorsqu'un Ondin rentre en symbiose avec un autre Ondin, une forte empathie les unit. Cela peut altérer jusqu'à leur personnalité entière. La notion de mariage et d'hétérosexualité n'existent pas chez les Ondins.
                    </p>
                    <h3 class="text-ln-gold-ghost">Célébration</h3>
                    <p>
                        Les Ondins ont plusieurs célébrations :
                    </p>
                    <ul>
                        <li>Ils fêtent le solstice d'été et d'hiver.</li>
                        <li>Ils fêtent le dernier jour du mois</li>
                        <li>Ils fêtent en mai la fin de l'année.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="politique" class="tab-pane fade row justify-content-around">
            <div class="col-lg-12 clearfix">
                <div class="text-justify">
                    <div class="float-left mr-2">
                        <img src="/web/img/background/race-ondin.jpg" alt="Ondins"
                             class="img-fluid rounded">
                    </div>
                    <h3 class="text-ln-gold-ghost">Dirigeant</h3>
                    <p>
                        Il existe quatre grandes maisons nobles, issues d'illustres personnages dans la culture ondine. Ces quatre maisons dirige le Conseil qui s'occupe au bon fonctionnement de la société.
                        Les maisons sont respectivement :
                    </p>
                    <ul class="list-unstyled">
                        <li>La Maison Viscomte : elle est très attachée à la tradition et à l'honneur.</li>
                        <li>La Maison Néodée : connue pour son amour du commerce et du progrès.</li>
                        <li>La Maison Choralide : plus jeune des quatre maisons, elle se veut garante de l'art et de la culture.</li>
                        <li>La Maison Azaresh : réputée pour son tempérament de feu, elle ne voit qu'à travers l'arcane et le pouvoir.</li>
                    </ul>
                    <p>
                        Chaque maison dirige une région du pays. Les maisons envoient des hérauts annoncer aux quatre coins de la région les nouvelles ainsi que prélever les taxes.
                    </p>
                    <h3 class="text-ln-gold-ghost">Armée</h3>
                    <p>
                        La démographie ondine étant étant au bord de l'extinction, l'armée ondine est pratiquement inexistante. Ceux qui s'enrôlent sont plus considérés comme une garde améliorée du pays. L'armée est divisées en deux castes : les myrmidons qui occupent le rôle de fantassins et les arcanistes qui gèrent l'arcane de manière militaire.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
