<div class="codex--container container my-5">
    <h2 class="text-lg-left text-center">Les alignements</h2>
    <p class="text-justify mt-3">
        L’alignement est une étiquette bien pratique qui permet de résumer l’attitude générale d’un
        <abbr title="Personnage Non Joueur">PNJ</abbr>, d’une
        région, d’une religion, d’une organisation, d’un monstre ou même d’un objet magique.<br>
        Les diverses combinaisons entre le Bien, le Mal, et la Loi et le Chaos donnent naissance à neuf
        alignements. La description de chacun représente l’adhérent type de cet alignement. N’oubliez pas
        toutefois que les individus peuvent s’écarter de la norme et qu’un personnage
        n’est pas contraint de respecter à la lettre les préceptes de son alignement.
        Utilisez les descriptions suivantes comme un guide, pas comme des règles strictes.
    </p>

    <h3>Bon et mauvais</h3>
    <p class="text-justify">
        Les personnages et les créatures d’alignement Bon défendent les innocents,
        même contre leur grè tandis que les individus d’alignement Mauvais cherchent à les corrompre ou
        à les détruire pour le plaisir ou pour le profit.
    </p>
    <p class="text-justify">
        Le Bien est synonyme d’altruisme, de respect de la vie et d’égards vis à vis de la dignité des
        autres êtres intelligents. Les personnages bons sont prêts à faire des sacrifices pour aider les
        autres.
    </p>
    <p class="text-justify">
        Le Mal implique de blesser, d’opprimer et de tuer les autres. Certaines créatures d’alignement
        mauvais ignorent simplement la compassion et tuent sans remords quand cela les arrange. D’autres
        cherchent activement à faire le mal, tuent pour le plaisir ou pour obéir à un dieu ou un maître
        maléfique.
    </p>
    <p class="text-justify">
        Les individus qui se disent Neutres par rapport au Bien et au Mal refusent de tuer les innocents
        mais ne sont pas pour autant disposés à faire le moindre sacrifice pour défendre ou aider leur
        prochain.
    </p>

    <h3>Loyal et chaotique</h3>
    <p class="text-justify">
        Les personnages Loyaux ne mentent jamais, ils sont fidèles à leur parole,
        ils respectent l’autorité,
        ils sont fidèles aux traditions et ils jugent ceux qui manquent à leur devoir. Au contraire, les
        personnages Chaotiques obéissent à leur seule conscience,
        n’apprécient pas qu’on leur dise ce qu’ils
        doivent faire, préfèrent les idées neuves aux traditions et tiennent leurs promesses quand ils en
        ont envie.
    </p>
    <p class="text-justify">
        La Loi défend l’honneur, la confiance, l’obéissance à l’autorité en place et la fiabilité. En
        revanche, elle peut provoquer l’étroitesse d’esprit, l’habitude de juger les autres et le manque
        d’adaptabilité. Ceux qui défendent la Loi affirment qu’elle seule peut donner naissance à une
        société où les gens se protègent mutuellement et prennent les bonnes décisions,
        sûrs que les autres
        agiront comme le devoir l’exige.
    </p>
    <p class="text-justify">
        Le Chaos est synonyme de liberté, d’adaptation permanente et de souplesse et
        il dérape généralement
        vers la témérité, l’irresponsabilité, un certain ressentiment contre l’autorité légitime et la
        propension à se livrer à des actes arbitraires. Ceux qui défendent le Chaos affirment que seule la
        liberté individuelle permet de s’exprimer pleinement et que ce n’est que si tout le monde en
        bénéficie que la société peut véritablement tirer profit du potentiel de chacun.
    </p>
    <p class="text-justify">
        Les gens Neutres vis à vis de la Loi et du Chaos sont naturellement respectueux de
        l’autorité, mais
        leur tempérament ne les pousse pas plus à obéir qu’à se rebeller. Ils sont honnêtes, mais les
        circonstances peuvent les pousser à mentir à ou à tromper leur prochain.
    </p>
    <ul class="codex--container-nav nav nav-tabs nav-justified row text-center mt-4">
        <li class="active col-lg-4">
            <a href="#bon" aria-controls="bon" role="tab" data-toggle="tab">Bon</a>
        </li>
        <li class="active col-lg-4">
            <a href="#neutre" aria-controls="neutre" role="tab" data-toggle="tab">Neutre</a>
        </li>
        <li class="active col-lg-4">
            <a href="#mauvais" aria-controls="mauvais" role="tab" data-toggle="tab">Mauvais</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="bon" class="tab-pane active" role="tabpanel">
            <h3>Loyal</h3>
            <p class="text-justify">
                Un personnage bon loyal se comporte comme on l’attend d’un défenseur de l’ordre et de la Loi.
                Déterminé à lutter contre le Mal, il est suffisamment discipliné pour ne jamais cesser le
                combat. Il dit toujours la vérité, reste fidèle à la parole donnée, aide ceux qui sont dans le
                besoin et se dresse contre l’injustice. Il déteste voir les coupables impunis et
                s’élève contre l’injustice.
            </p>
            <p class="text-justify">
                L’alignement bon loyal mêle honneur et compassion.
            </p>

            <h3>Neutre</h3>
            <p class="text-justify">
                Un personnage neutre bon fait de son mieux pour faire le bien. Il fait son possible pour aider
                les autres. Il travaille main dans la main avec les rois et les juges mais il ne se sent pas
                tenu de leur obéir.
            </p>
            <p class="text-justify">
                Être bon neutre permet de faire le Bien sans être bloqué par le carcan de la Loi.
            </p>

            <h3>Chaotique</h3>
            <p class="text-justify">
                Un personnage bon chaotique agit selon sa conscience, sans se soucier de ce que les autres
                pensent de lui. Il se comporte comme il l’entend, mais cela ne l’empêche pas d’être gentil et
                bienveillant. Il croit à la bonté et au bon droit mais se moque des lois et des règles. Il
                déteste les gens qui intimident les autres et leur disent comment se comporter. Il suit sa
                propre morale qui, bien que bienveillante,
                ne s’accorde pas forcément avec celle de la société.
            </p>
            <p>
                L’alignement bon chaotique conjugue bonté et esprit libre.
            </p>
        </div>

        <div id="neutre" class="tab-pane" role="tabpanel">
            <h3>Loyal</h3>
            <p class="text-justify">
                Un personnage neutre loyal agit selon la loi, la tradition ou son code de conduite personnel.
                L’ordre et l’organisation représentent tout pour lui. Il se peut qu’il croit en l’ordre
                individuel et vive selon un code ou une règle ou qu’il croit en l’ordre général et
                privilégie un gouvernement fort et organisé.
            </p>
            <p class="text-justify">
                Un individu neutre loyal est fiable et honorable sans pour autant être fanatique.
            </p>

            <h3>Neutre</h3>
            <p class="text-justify">
                Un personnage neutre fait ce qui lui semble une bonne idée. Il n’a pas vraiment de préférence
                lorsqu’il s’agit de choisir entre le Bien et le Mal ou entre la Loi et le Chaos
                (c’est ainsi que
                le personnage Neutre est parfois qualifié de « Neutre absolu »). Dans la plupart des cas, la
                neutralité représente une absence de convictions plutôt qu’un véritable dévouement envers la
                neutralité. Le personnage aurait ainsi plutôt tendance à penser que le Bien vaut mieux que le
                Mal, car il préfère que ses voisins et ses dirigeants politiques se montrent bienveillants
                plutôt que malveillants. Cela étant, il ne se sent nullement obligé de défendre la cause du
                Bien, ni en pratique ni en théorie.
            </p>
            <p class="text-justify">
                En revanche, chez certains, la neutralité est un choix philosophique.
                Pour eux, le Bien, le Mal, la Loi et le Chaos sont partiaux et représentent un danger,
                comme tous les extrêmes. Ils prônent
                donc l’équilibre, qui leur paraît être le meilleur choix à long terme.
            </p>
            <p class="text-justify">
                Être Neutre permet d’agir naturellement en toute situation, sans se laisser guider par ses
                préjugés ou ses obligations.
            </p>

            <h3>Chaotique</h3>
            <p class="text-justify">
                Un personnage neutre chaotique agit comme bon lui semble. C’est avant tout un
                individualiste. Il
                accorde une immense valeur à sa liberté mais il ne cherche pas à protéger celle des autres. Il
                évite l’autorité, déteste les restrictions et remet toujours la tradition en question.
                Sa lutte
                contre la société organisée n’est pas motivée par un désir d’anarchie car cette
                volonté devrait
                s’accompagner d’idées nobles (libérer les opprimés du joug de l’autorité) ou mauvaises (faire
                souffrir ceux qui sont différents de lui). Le personnage est parfois imprévisible mais son
                comportement n’est pas complètement aléatoire. Il est nettement plus probable qu’il
                traverse un
                pont plutôt qu’il en saute.
            </p>
            <p class="text-justify">
                Être neutre chaotique permet de profiter de la véritable liberté, celle qui ne suit pas les
                restrictions imposées par la société, et n’oblige pas à faire le bien à tout prix.
            </p>
        </div>

        <div id="mauvais" class="tab-pane" role="tabpanel">
            <h3>Loyal</h3>
            <p class="text-justify">
                Un individu mauvais loyal prend tout ce qu’il désire, dans les limites de son code de conduite
                sans se soucier de ceux à qui il peut faire du mal. Pour lui, les traditions, la loyauté et
                l’obéissance ont de l’importance, mais pas la liberté ni la dignité ou la vie. Il suit les
                règles existantes, mais ne montre ni pitié ni compassion. Il accepte la hiérarchie, et, même
                s’il préfère diriger, il est prêt à obéir. Il condamne les autres, non pas en fonction
                de leurs
                actes, mais en fonction de leur race, de leur religion, de leur nationalité ou de leur rang
                social. Il répugne à violer la Loi ou à trahir sa parole.
            </p>
            <p class="text-justify">
                Cette répugnance lui vient en partie de sa nature et en partie de sa dépendance vis à vis
                l’ordre établi pour se protéger de ceux qui s’opposent à lui sur des questions d’ordre moral.
                Certains Loyaux Mauvais se fixent eux-mêmes des limites, telles que ne jamais tuer
                de sang-froid
                (ils chargent leurs sbires de le faire à leur place) ou ne pas maltraiter les enfants (sauf
                lorsqu’il est impossible de faire autrement). Ils pensent que ces règles de conduite
                les placent
                au-dessus des scélérats sans scrupules.
            </p>
            <p class="text-justify">
                Il arrive que des individus ou des créatures se dévouent au mal avec le même zèle que les
                croisés des forces du Bien. En plus de nuire aux autres par intérêt, ils prennent plaisir à
                promouvoir la cause du Mal. Il arrive qu’ils fassent le mal pour servir leur dieu ou leur
                maître.
            </p>
            <p class="text-justify">
                L’alignement mauvais loyal représente un Mal méthodique, intentionnel et organisé.
            </p>

            <h3>Neutre</h3>
            <p class="text-justify">
                Un individu mauvais neutre fait tout ce qu’il veut tant qu’il peut s’en tirer.
                Il ne pense tout
                simplement qu’à lui. Il se moque de tuer des gens par profit, pour le plaisir, ou parce
                que cela
                l’arrange. Il n’apprécie pas particulièrement l’ordre et pense que le respect de la Loi, d’un
                code de conduite ou des traditions ne le rendra pas meilleur ou plus noble. Il ne montre
                pas une
                nature agitée et n'est pas pour la recherche de conflits caractéristique des êtres Chaotiques
                Mauvais.
            </p>
            <p class="text-justify">
                Certains individus Neutres Mauvais érigent le Mal en idéal et s’y dévouent corps et âme. La
                plupart du temps, ils se consacrent à un dieu ou à une société secrète maléfique.
            </p>
            <p class="text-justify">
                L’alignement mauvais neutre représente le Mal à l’état brut, sans honneur ni nuance.
            </p>

            <h3>Chaotique</h3>
            <p class="text-justify">
                Un individu maubais chaotique suit sa cupidité, sa haine et sa soif de destruction.
                Il s’énerve
                facilement, il est sadique, violent et complètement imprévisible. S’il veut quelque chose pour
                lui, il se montre simplement brutal et impitoyable mais s’il s’est donné pour objectif de
                répandre le Mal et le Chaos, c’est encore pire. Fort heureusement, ses plans sont désorganisés
                et les groupes qu’il constitue ou auxquels il se joint sont très mal structurés. La plupart du
                temps, les êtres Chaotiques Mauvais ne coopèrent que sous la menace et leur chef reste place
                uniquement tant qu’il survit aux tentatives visant à le renverser ou l’assassiner.
            </p>
            <p class="text-justify">
                Les êtres mauvais chaotique représentent la destruction, non seulement de la beauté et de la
                vie, mais aussi de l’ordre sur lequel cette beauté et cette vie s’appuient.
            </p>
        </div>
    </div>
    <hr>
    <h3>Changer d'alignement</h3>
    <p class="text-justify">
        il n’est pas nécessaire de s’inquiéter outre mesure si une personne ne se comporte pas tout à
        fait comme
        son alignement l’exige. C’est au joueur de décider si quelque chose est en accord ou non avec
        l’alignement donné, en se basant sur la description donnée précédemment et sur sa
        propre interprétation. Vouloir changer
        d'alignement est encouragé. Les personnages évoluent et leur philosophie avec. Vous pouvez donc
        changer d'alignement quand bon vous semble, mais gare aux répercutions engendrées.
    </p>
</div>
