{% extends 'base.twig' %}

{% block main %}
    <main>
        {# // ------- #}
        {# // Context #}
        {# // ------- #}
        {# Context Page #}
        {% if codexTab == 'guide' %}
            {% include 'codex/guide/guide.twig' %}
        {% endif %}

        {# // ------------------- #}
        {# // Guide de l'arrivant #}
        {# // ------------------- #}
        {# Align Page #}
        {% if codexTab == 'align' %}
            {% include 'codex/character/align.twig' %}
        {% endif %}
        {# Character Page #}
        {% if codexTab == 'character' %}
            {% include 'codex/character/character.twig' %}
        {% endif %}

        {# // #}
        {# // Général #}
        {# // #}
        {# FAQ Page #}
        {% if codexTab == 'faq' %}
            {% include 'codex/general/faq.twig' %}
        {% endif %}
        {# Rules Page #}
        {% if codexTab == 'reglement-general' %}
            {% include 'codex/general/generalRules.twig' %}
        {% endif %}
    </main>
{% endblock main %}