{% extends 'base.twig' %}

{% block main %}
    <main>
        {% if codexTab == 'context' %}
            {% include 'codex/context.twig' %}
        {% endif %}

        {# Race Page #}
        {% if codexTab == 'race' %}
            {% include 'codex/race.twig' %}
        {% endif %}

        {# Align Page #}
        {% if codexTab == 'align' %}
            {% include 'codex/align.twig' %}
        {% endif %}

        {# FAQ Page #}
        {% if codexTab == 'faq' %}
            {% include 'codex/faq.twig' %}
        {% endif %}

        {# Character Page #}
        {% if codexTab == 'character' %}
            {% include 'codex/character.twig' %}
        {% endif %}
    </main>
{% endblock main %}