<main>
    <div class="codex--container container my-5">
        <h2 class="text-lg-left text-center">Histoire</h2>
        <p class="text-justify mt-3 clearfix">
            L’alignement est une étiquette bien pratique qui permet de résumer l’attitude générale d’un
            <abbr title="Personnage Non Joueur">PNJ</abbr>, d’une
            région, d’une religion, d’une organisation, d’un monstre ou même d’un objet magique.<br>
            Les diverses combinaisons entre le Bien, le Mal, et la Loi et le Chaos donnent naissance à neuf
            alignements. La description de chacun représente l’adhérent type de cet alignement. N’oubliez pas
            toutefois que les individus peuvent s’écarter de la norme et qu’un personnage
            n’est pas contraint de respecter à la lettre les préceptes de son alignement.
            Utilisez les descriptions suivantes comme un guide, pas comme des règles strictes.
            <img src="/web/img/avatar/automate.jpg" alt="Automate" class="float-right ml-3 img-fluid">
            L’alignement est une étiquette bien pratique qui permet de résumer l’attitude générale d’un
            <abbr title="Personnage Non Joueur">PNJ</abbr>, d’une
            région, d’une religion, d’une organisation, d’un monstre ou même d’un objet magique.<br>
            Les diverses combinaisons entre le Bien, le Mal, et la Loi et le Chaos donnent naissance à neuf
            alignements. La description de chacun représente l’adhérent type de cet alignement. N’oubliez pas
            toutefois que les individus peuvent s’écarter de la norme et qu’un personnage
            n’est pas contraint de respecter à la lettre les préceptes de son alignement.
            Utilisez les descriptions suivantes comme un guide, pas comme des règles strictes.
            L’alignement est une étiquette bien pratique qui permet de résumer l’attitude générale d’un
            <abbr title="Personnage Non Joueur">PNJ</abbr>, d’une
            région, d’une religion, d’une organisation, d’un monstre ou même d’un objet magique.<br>
            Les diverses combinaisons entre le Bien, le Mal, et la Loi et le Chaos donnent naissance à neuf
            alignements. La description de chacun représente l’adhérent type de cet alignement. N’oubliez pas
            toutefois que les individus peuvent s’écarter de la norme et qu’un personnage
            n’est pas contraint de respecter à la lettre les préceptes de son alignement.
            Utilisez les descriptions suivantes comme un guide, pas comme des règles strictes.
            L’alignement est une étiquette bien pratique qui permet de résumer l’attitude générale d’un
            <abbr title="Personnage Non Joueur">PNJ</abbr>, d’une
            région, d’une religion, d’une organisation, d’un monstre ou même d’un objet magique.<br>
            Les diverses combinaisons entre le Bien, le Mal, et la Loi et le Chaos donnent naissance à neuf
            alignements. La description de chacun représente l’adhérent type de cet alignement. N’oubliez pas
            toutefois que les individus peuvent s’écarter de la norme et qu’un personnage
            n’est pas contraint de respecter à la lettre les préceptes de son alignement.
            Utilisez les descriptions suivantes comme un guide, pas comme des règles strictes.
            L’alignement est une étiquette bien pratique qui permet de résumer l’attitude générale d’un
            <abbr title="Personnage Non Joueur">PNJ</abbr>, d’une
            région, d’une religion, d’une organisation, d’un monstre ou même d’un objet magique.<br>
            Les diverses combinaisons entre le Bien, le Mal, et la Loi et le Chaos donnent naissance à neuf
            alignements. La description de chacun représente l’adhérent type de cet alignement. N’oubliez pas
            toutefois que les individus peuvent s’écarter de la norme et qu’un personnage
            n’est pas contraint de respecter à la lettre les préceptes de son alignement.
            Utilisez les descriptions suivantes comme un guide, pas comme des règles strictes.
            L’alignement est une étiquette bien pratique qui permet de résumer l’attitude générale d’un
            <abbr title="Personnage Non Joueur">PNJ</abbr>, d’une
            région, d’une religion, d’une organisation, d’un monstre ou même d’un objet magique.<br>
            Les diverses combinaisons entre le Bien, le Mal, et la Loi et le Chaos donnent naissance à neuf
            alignements. La description de chacun représente l’adhérent type de cet alignement. N’oubliez pas
            toutefois que les individus peuvent s’écarter de la norme et qu’un personnage
            n’est pas contraint de respecter à la lettre les préceptes de son alignement.
            Utilisez les descriptions suivantes comme un guide, pas comme des règles strictes.
            L’alignement est une étiquette bien pratique qui permet de résumer l’attitude générale d’un
            <abbr title="Personnage Non Joueur">PNJ</abbr>, d’une
            région, d’une religion, d’une organisation, d’un monstre ou même d’un objet magique.<br>
            Les diverses combinaisons entre le Bien, le Mal, et la Loi et le Chaos donnent naissance à neuf
            alignements. La description de chacun représente l’adhérent type de cet alignement. N’oubliez pas
            toutefois que les individus peuvent s’écarter de la norme et qu’un personnage
            n’est pas contraint de respecter à la lettre les préceptes de son alignement.
            Utilisez les descriptions suivantes comme un guide, pas comme des règles strictes.
            <img src="/web/img/subcat/cat1.png" alt="Cat" class="float-left img-fluid">
        </p>
    </div>
</main>
