<main>
    <div class="codex--container container my-5">
        <h2 class="text-lg-left text-center">Histoire</h2>
        <p class="text-justify mt-3 clearfix">
            Bientôt disponible.
        </p>
    </div>
</main>
