<section class="codex--container container my-5">
    <h2 class="text-lg-left text-center">Races jouables</h2>
    <p class="text-justify mt-3 clearfix">
        <em>
            Dans Lande Noire, vous serez amené à choisir votre peuple. Pour cela, plusieurs races sont à votre
            disposition. Chacune d'entre elles dispose de compétences et de contextes variés.
            <br>
            Si vous êtes libre de façonner votre héros, vous devrez suivre ces règles afin de ne pas dénaturer
            votre race.
        </em>
    </p>
    <hr>
    <h3 class="my-3 text-ln-gold font-weight-bold">Les Humain&middot;es</h3>
    <div class="row justify-content-around">
        <div class="col-lg-12 clearfix">
            <div class="text-justify wow fadeIn" data-wow-duration="2s">
                <div class="float-left mr-2 wow slideInLeft" data-wow-duration="2s">
                    <img src="/web/img/background/race-human.jpg" alt="Humains"
                         class="img-fluid rounded">
                </div>
                <h3 class="text-ln-gold-ghost">Description</h3>
                <p>
                    Race prolifique et variée, mais aussi fugace et fragile, l'humanité a pu au fil des
                    siècles s'emparer du titre de nation dominante. Grâce à son adaptation, elle continue
                    encore aujourd'hui à exceller dans de nombreux domaines, lorsque son caractère
                    conquérant ou corruptible ne la met pas en péril.
                </p>
                <p>
                    Originaire d'une autre planète, l'humanité fut la première à utiliser l'Arcane
                    de manière belliqueuse lors
                    de l'avènement du grand Schisme. Apparues sur Création il y a à peu près deux millénaires,
                    les victimes de cet évènement vécurent en clan sectaire jusqu'à leur union sous une seule
                    et même bannière. Désormais, leur règne a changé à jamais la face du Monde.
                </p>
                <h3 class="text-ln-gold-ghost">Apparence</h3>
                <p>
                    Commun à un grand nombre de régions, les humains ont une apparence aussi définie que
                    variée. Ils mesurent moins de deux mètres, ont un poids variable au-dessus de cinquante kilos
                    ainsi qu'une longévité proche de quatre-vingts ans.
                </p>
                <h3 class="text-ln-gold-ghost">Mondanités</h3>
                <p>
                    Les êtres humains peuvent prétendre à toutes les couches sociétales, selon leur droit de
                    naissance ou par reconnaissance de l'autorité compétente. Ils vivent en caste hiérarchique
                    définie.
                    La religion est un aspect plus ou moins importante selon l'individu et au rang qu'il
                    appartient. Leur foi peut être un outil redoutable.
                </p>
                <p>
                    L'humain est considéré majeur à vingt ans. Il parle le commun.
                </p>
                <h3 class="text-ln-gold-ghost">Compétences</h3>
                <ul>
                    <li>
                        <strong class="text-uppercase">
                            Adaptation :
                        </strong>
                        les humains reçoivent un bonus de +5 en physique.
                    </li>
                    <li>
                        <strong class="text-uppercase">
                            Communauté :
                        </strong>
                        les humains reçoivent un bonus de +10 en social.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr style="width: 50%;">

    <h3 class="my-3 text-ln-gold font-weight-bold">Les Automates</h3>
    <div class="row justify-content-around">
        <div class="col-lg-12 clearfix">
            <div class="text-justify wow fadeIn" data-wow-duration="2s">
                <div class="float-left mr-2 wow slideInLeft" data-wow-duration="2s">
                    <img src="/web/img/background/race-automate.jpg" alt="Automates"
                         class="img-fluid rounded">
                </div>
                <h3 class="text-ln-gold-ghost">Description</h3>
                <p>
                    Esclaves modernes, les automates sont d'infatigables robots dont le coeur en arcanite
                    leur offre une force et une longévité à toute épreuve. Aussi curieuse que travailleuse,
                    cette nation artificielle a vu grossir ses rangs depuis l'automatisation des usines
                    de fabrication.
                </p>
                <p>
                    Créé par l'humain dans le but de lui alléger les tâches pénibles et fastidieuses, l'automate
                    reçoit dès sa création une fonction attitrée. Le plus souvent manuelle ou administrative. Ceux
                    vendus aux particuliers reçoivent un propriétaire unique à qui ils doivent obéissance et protection
                    jusqu'à leur désactivation. Les robots sans demeure finissent au mieux dans une reconversion
                    par l'État, au pire à la casse.
                </p>
                <h3 class="text-ln-gold-ghost">Apparence</h3>
                <p>
                    Conçus en fer pour la majorité d'entre eux, les automates anthropomorphes mesurent moins de deux
                    mètres, pour raisons pratiques. Leur poids varie dans les cent trente kilos et leur garantie
                    de fonctionnement entre dix à quinze ans selon l'utilisation.
                </p>
                <h3 class="text-ln-gold-ghost">Mondanités</h3>
                <p>
                    L'automate n'a aucun rang social, n'ayant pas le droit à la citoyenneté. Ils peuvent cependant, à
                    l'instar des humains, faire leur service militaire dans une section spécifique (avec la bénédiction
                    de
                    leur propriétaire). Bien que conscients de leurs créateurs, les automates ont érigé une religion au
                    fil
                    du temps, basée sur un messie libérateur du nom de « Grand Architecte ». Cette religion est
                    populaire au
                    sein des robots déviants et sans demeure.
                </p>
                <p>
                    L'automate est considéré comme une machine jusqu'à sa mort. Il parle le commun.
                </p>
                <h3 class="text-ln-gold-ghost">Caractéristiques</h3>
                <ul>
                    <li>
                        <strong class="text-uppercase">
                            Ouvrier :
                        </strong>
                        les automates reçoivent un bonus de +5 en artisanat.
                    </li>
                    <li>
                        <strong class="text-uppercase">
                            Machine :
                        </strong>
                        les automates reçoivent un bonus de +10 en physique.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr style="width: 50%;">

    <h3 class="my-3 text-ln-gold font-weight-bold">Les Malemorts</h3>
    <div class="row justify-content-around">
        <div class="col-lg-12 clearfix">
            <div class="text-justify wow fadeIn" data-wow-duration="2s">
                <div class="float-left mr-2 wow slideInLeft" data-wow-duration="2s">
                    <img src="/web/img/background/race-malemort.jpg" alt="Malemorts"
                         class="img-fluid rounded">
                </div>
                <h3 class="text-ln-gold-ghost">Description</h3>
                <p>
                    Goules immortelles, les malemorts sont des humains transformés le jour de leur mort,
                    contaminés par l'Arcane qui les empêche de trouver le repos éternel. Rejetés par leur
                    ancienne nation, ces créatures cadavériques vivent tels des monstres dans des endroits cachés.
                    La densité de leur population reste inconnue.
                </p>
                <p>
                    S'ils conservent toute leur intelligence et leur esprit lors de la transformation, les malemorts
                    perdent cependant toute trace d'émotions, hormis deux : la joie et la colère. Celles-ci se
                    matérialisent respectivement au niveau des yeux par une lueur chaude et une lueur froide, trahissant
                    leur véritable nature.
                </p>
                <h3 class="text-ln-gold-ghost">Apparence</h3>
                <p>
                    Anciens humains, ils conservent leur taille d'origine mais perdent considérablement en poids. Bien
                    qu'immortelle, les goules sont obligées de consommer régulièrement de la viande fraîche pour
                    remplacer leurs tissus décomposés et conserver une apparence humaine. Sans quoi ils
                    finiraient à l'aspect cadavérique puis en poussière.
                </p>
                <h3 class="text-ln-gold-ghost">Mondanités</h3>
                <p>
                    Considérés comme des monstres par beaucoup, les malemorts perdent le rang social de leur vivant.
                    Les plus rusés d'entre eux aiment se dissimuler parmi les vivants afin de les manipuler de
                    l'intérieur.
                    Quant au reste, ils se regroupent et se cachent sans hiérarchie distincte. La loi du plus fort et du
                    nombre l'emporte toujours. Les malemorts n'ont pas de religion.
                    Ils ne vouent un culte qu'à la Mort sous toutes ses formes.
                </p>
                <p>
                    Les malemorts sont considérés comme majeur par leurs pairs dès leur décès, même s'ils étaient enfant.
                    Ils parlent le commun et la langue-noire.
                </p>
                <h3 class="text-ln-gold-ghost">Caractéristiques</h3>
                <ul>
                    <li>
                        <strong class="text-uppercase">
                            Manipulateur :
                        </strong>
                        les malemorts reçoivent un bonus de +5 en intellect.
                    </li>
                    <li>
                        <strong class="text-uppercase">
                            Osseux :
                        </strong>
                        les malemorts reçoivent un bonus de +10 en dextérité.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr style="width: 50%;">

    <h3 class="my-3 text-ln-gold font-weight-bold">Les Ondin&middot;es</h3>
    <div class="row justify-content-around">
        <div class="col-lg-12 clearfix">
            <div class="text-justify wow fadeIn" data-wow-duration="2s">
                <div class="float-left mr-2 wow slideInLeft" data-wow-duration="2s">
                    <img src="/web/img/background/race-ondin.jpg" alt="Ondins"
                         class="img-fluid rounded">
                </div>
                <h3 class="text-ln-gold-ghost">Description</h3>
                <p>
                    Race originaire de Création, elle était jadis la nation dominante du continent. Lors de
                    l'avènement du grand Schisme et de l'arrivée de l'humanité, une guerre éclata entre les Ondins et
                    cette dernière. Voyant que la victoire était impossible, les Ondins utilisèrent leur savoir en
                    arcane pour transformer leur peuple en créature aquatique, afin de survivre et établir une offensive
                    dans les abysses, où l'humanité ne pouvait les atteindre.
                </p>
                <p>
                    Race extrêmement intelligente et rusée, les Ondins sont liés intrinséquement à l'Arcane qui coule
                    dans
                    leurs veines. Bien que leur apparence d'hommes-pieuvres inspirerait le contraire, ce sont de grands
                    amateurs d'art et de rhétorique. Ce sont de redoutables marchands. Certains d'entre eux ont
                    abandonné
                    leur vieille rancune envers l'humanité pour faire commerce. Bien que considérablement réduite par la
                    guerre, la population des Ondins reste encore conséquente.
                </p>
                <h3 class="text-ln-gold-ghost">Apparence</h3>
                <p>
                    Créatures à l'aspect visqueux, leur forme est confuse et indéfinie, selon l'action que l'Arcane a eu
                    sur
                    eux. Leur aspect est hérédité de leurs deux parents. Ils mesurent en moyenne deux mètres
                    quinze pour un corps élancé de moins de cent kilos. Ils ont une longévité de deux siècles.
                </p>
                <h3 class="text-ln-gold-ghost">Mondanités</h3>
                <p>
                    Les Ondins vivent sous un parlement d'assemblée. Chaque maison ayant un siège au Conseil.
                    Le peuple
                    ne peut prétendre qu'à l'armée comme rang le plus élevé. Les fonctions religieuses sont
                    réservées
                    également à la noblesse.
                </p>
                <p>
                    Les Ondins sont considérés comme majeur à quatre-vingts ans.
                    Ils parlent l'ondar.
                </p>
                <h3 class="text-ln-gold-ghost">Caractéristiques</h3>
                <ul>
                    <li>
                        <strong class="text-uppercase">
                            Savant :
                        </strong>
                        les Ondins reçoivent un bonus de +5 en intellect.
                    </li>
                    <li>
                        <strong class="text-uppercase">
                            Commerçant :
                        </strong>
                        les Ondins reçoivent un bonus de +10 en social.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
