<div class="container my-5">
    <h2 class="text-lg-left text-center">Fiche de personnage</h2>
    <p class="text-justify">
        <em>
            Avant de pouvoir vivre vos aventures à travers le forum, votre personnage doit se faire valider
            afin d'être conforme à l'univers de Lande Noire. Pour ce faire, vous devrez vous rendre dans la
            section <a href="/forum/current-sheet/topics" target="_blank">fiches de personnage</a> afin de soumettre
            votre
            personnage.
        </em>
    </p>
    <p class="text-justify">
        <em>
            Vous retrouverez ci-dessous un exemple des informations à soumettre. Notez que l'apparence est selon
            votre choix, mais veillez à ce que cela reste lisible.
        </em>
    </p>

    <section class="container--topic m-auto col-lg-9 " style="border-radius: 0 1rem 1rem 1rem;">
        <div class="container my-3">
            <h2>Caractéristiques</h2>
            <ul>
                <li>Date de naissance :
                    <span class="text-info">
                        [Votre date de naissance comprise entre l'an 1093 et l'an 1203]
                    </span>
                </li>
                <li>Sexe : <span class="text-info">[Votre sexe]</span></li>
                <li>Race : <span class="text-info">[Votre race]</span></li>
                <li>Alignement : <span class="text-info">[Votre alignement (voir codex)]</span></li>
            </ul>
            <hr>
            <h2>Psychologie</h2>
            <p><span class="text-info">[La psychologie du personnage]</span></p>
            <hr>
            <h2>Morphologie</h2>
            <p><span class="text-info">[La morphologie du personnage]</span></p><p></p>
            <hr>
            <h2>Chronologie</h2>
            <p><span class="text-info">[La chronologie du personnage]</span></p>
        </div>
    </section>

    <h3 class="mt-5">Un peu d'aide</h3>
    <ul>
        <li>
            Votre date de naissance sert à calculer votre âge. Gardez en tête qu'il est dynamique (si nous sommes en
            2018, le jeu se passe en 1203).
        </li>
        <li>
            Réfléchissez bien à vos caractéristiques. Une fois validées, elles ne pourront plus être modifiées (sauf l'alignement).
        </li>
        <li>
            La psychologie, la morphologie et la chronologie sont les piliers de votre personnage. N'ayez pas peur d'y
            écrire pour le développer.
        </li>
    </ul>
</div>
