{% extends 'base.twig' %}

{% block main %}
    <main class="d-flex justify-content-center align-items-center">
        <section class="container">
            <div class="row flex-column align-items-center justify-content-center">
                <form method="post" class="col-lg-5">
                    <fieldset>
                        <legend class="h2">Changer mot de passe</legend>
                        <div class="form-group">
                            <ul class="list-group">
                                {% for error in changePassword if error is not null %}
                                    <li class="list-unstyled">
                                        <span class="badge badge-warning">Erreur</span>
                                        {{ error }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="change-password" class="w-100">
                                Nouveau mot de passe
                                <span class="text-danger">*</span>
                                <input class="form-control" id="change-password" placeholder="Nouveau"
                                       type="password"
                                       name="change_password" required>
                                <small class="form-text text-muted">
                                    Min. 8 caractères alphanumériques.
                                </small>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="change-password-confirm" class="w-100">
                                Mot de passe confirmé
                                <span class="text-danger">*</span>
                                <input class="form-control" id="change-password-confirm"
                                       placeholder="Confirmation" type="password"
                                       name="change_password_confirm" required>
                            </label>
                        </div>
                        <div class="form-group">
                            <p>
                                <span class="display-info d-block text-ln-gold">
                                        Demande expirée ?
                                        <small class="content-info text-justify">
                                            Si vous recevez l'erreur « Demande expirée »,
                                            veuillez renvoyer une demande.
                                            <br>
                                            Par mesure de sécurité, chaque demande expire après
                                            1 heure de delai.
                                        </small>
                                </span>
                            </p>
                            <button type="submit" name="change_submit" class="btn">Changer</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>
{% endblock main %}