{% extends 'base.twig' %}

{% block main %}
    <main class="d-flex justify-content-center align-items-center">
        <section class="container">
            <div class="row flex-column align-items-center justify-content-center">
                <form method="post" class="col-lg-5">
                    <fieldset>
                        <legend class="h2">Mot de passe oublié ?</legend>
                        {# Error #}
                        <div class="form-group">
                            <ul class="list-group">
                                {% for error in forgotPassword if error is not null %}
                                    <li class="list-unstyled">
                                        <span class="badge badge-warning">Erreur</span>
                                        {{ error }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {# Forgot Password #}
                        <div class="form-group">
                            <label for="forgot-email" class="w-100">
                                Email
                                <span class="text-danger">*</span>
                                <input class="form-control" id="forgot-email"
                                       placeholder="missive@domaine.ex" type="email"
                                       name="forgot_email" required>
                                <small class="form-text text-muted">
                                    Nous enverrons un lien à cet adresse.
                                </small>
                            </label>
                        </div>
                        <div class="form-group">
                            <p>
                                <a href="/sign-in">
                                    Revenir à la connexion
                                </a>
                            </p>
                            <button type="submit" name="forgot_confirm" class="btn">Envoyer</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>
{% endblock main %}