<section class="container my-5">
    <div>
        <h1>L'arcane</h1>
        <blockquote class="blockquote font-italic">
            D'aussi loin que remontent les écrits, l'Arcane a toujours été un élément présent dans notre
            culture sur Création. Chauffage, lumière, arme...
            imaginer un Monde sans elle me semble simplement impossible.
            <small class="blockquote-footer">
                Barnaby Tatcher, conservateur impérial
            </small>
        </blockquote>
    </div>

    <div>
        <p class="text-justify">
            L'arcane est la ressource de Création par excellence. Trouvable à l'état naturel sous forme de
            géode pourpre, l'arcane a vu ses propriétés transformées par la civilisation au fil des
            siècles. Au sommet de sa puissance, la société ondine vénérait l'arcane comme le sang d'un
            Dieu. Son utilisation était enveloppée de cérémonies et d'évènements publics. Les Ondins furent
            les premiers à transformer les cristaux d'arcane en liquide, découvrant ses propriétés de
            combustible et d'énergie. Très vite, leur société s'érigea autour de cette ressource.
        </p>

        <p class="text-justify">
            Arriva plus tard le désastre du grand Schisme, résultant de l'utilisation abusive de l'arcane.
            Ce cataclysme ébranla jusqu'aux fondations même de l'Univers, forçant la collision de plusieurs
            plans dimensionnels. L'arrivée de l'humanité fut un tournant décisif dans l'histoire de
            l'arcane. Utilisée d'abord par les premiers arcanistes dans la guerre contre les Ondins, elle
            fut ensuite transformée en simple outil ménager. Chauffer les maisons, les aliments et l'eau.
            Éclairer les villes, alimenter les machines et donner vie aux automates. L'humanité
            lui trouvera une propriété guerrière lui offrant le rôle de dominant sur le continent.
        </p>

        <p class="text-justify">
            Si l'utilisation abusive de l'arcane chez l'humain ne semble effrayer que les Ondins, peur
            d'un second cataclysme, l'humanité s'inquiète davantage pour les émanations gazeuses qu'ont
            engendré les machines industrielles. Beaucoup de faits portent à croire que l'arcane gazeuse
            serait responsable de la résurrection des morts, incombant à la société le problème des
            malemorts. Sans parler d'autres soucis de santé que semblent partager les médecins.
        </p>

    </div>

    <div>
        <h2 class="my-5">Chronologie</h2>
        <div class="timeline">
            <div class="container-line left wow fadeIn">
                <div class="content">
                    <h2>Ère divine</h2>
                    <h5 class="text-muted">[ ~ 6 000 ans ]</h5>
                    <p class="text-justify">
                        Premières légendes sur l'arcane
                    </p>
                </div>
            </div>
            <div class="container-line right wow fadeIn">
                <div class="content">
                    <h2>Ère antique</h2>
                    <h5 class="text-muted">[ ~ 4 000 ans ]</h5>
                    <p class="text-justify">
                        Premiers outils artistiques et idolâtres en relation avec l'arcane.
                    </p>
                </div>
            </div>
            <div class="container-line left wow fadeIn">
                <div class="content">
                    <h2>Ère antique</h2>
                    <h5 class="text-muted">[ ~ 3 700 ans ]</h5>
                    <p class="text-justify">
                        Premières écrits sur l'arcane. Arrivée de la liquéfaction arcanique.
                    </p>
                </div>
            </div>
            <div class="container-line right wow fadeIn">
                <div class="content">
                    <h2>Ère mèdique</h2>
                    <h5 class="text-muted">[ ~ 2 900 ans ]</h5>
                    <p class="text-justify">
                        Le continent se développe complétement autour de l'arcane.
                    </p>
                </div>
            </div>
            <div class="container-line left wow fadeIn">
                <div class="content">
                    <h2>Ère mèdique</h2>
                    <h5 class="text-muted">[ ~ 2 600 ans ]</h5>
                    <p class="text-justify">
                        Apogée de l'utilisation arcanique. Les royaumes s'alimentent notamment
                        grâce à des coeurs en arcanite à la puissance effrayante.
                    </p>
                </div>
            </div>
            <div class="container-line right wow fadeIn">
                <div class="content">
                    <h2>Ère mèdique</h2>
                    <h5 class="text-muted">[ ~ 1 500 ans ]</h5>
                    <p class="text-justify">
                        Premiers mouvements contre l'arcane. Sa puissance font rentrer en conflit
                        plusieurs royaumes tandis que les arcanistes s'inquiètent de l'instabilité
                        du coeur des cités.
                    </p>
                </div>
            </div>
            <div class="container-line left wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 0 ]</h5>
                    <p class="text-justify">
                        Apparition du grand Schisme suite à l'abu arcanique.
                        L'arcane fait des millions de morts un peu partout sur le continent.
                    </p>
                </div>
            </div>
            <div class="container-line right wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 42 ]</h5>
                    <p class="text-justify">
                        La majeur partie du continent, notamment le peuple ondin, érige une loi contre
                        l'utilisation de l'arcane par le peuple. Seules les autorités compétentes y ont
                        accès, afin de se protéger d'un autre cataclysme.
                    </p>
                </div>
            </div>
            <div class="container-line left wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 367 ]</h5>
                    <p class="text-justify">
                        Les premiers arcanistes humains sont entraînés par des ondins renégats. Ils
                        semblent avoir une affinité avec celle-ci.
                    </p>
                </div>
            </div>
            <div class="container-line right wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 368 ]</h5>
                    <p class="text-justify">
                        L'humanité rentre en guerre avec les ondins pour le partage des ressources
                        arcaniques. Les arcanistes humains développent une manière propre d'utilisation
                        de l'arcane, avec les armes à feu et les engins de siège.
                    </p>
                </div>
            </div>
            <div class="container-line left wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 614 ]</h5>
                    <p class="text-justify">
                        Les arcanistes ondins survivants durant la guerre forment un Conseil martial pour
                        décider du sort de leur peuple. La décision est unanime : utiliser le dernier
                        coeur en arcanite de la capitale afin de permettre au peuple de fuir par les
                        mers. Transformation radicale de leur apparence.
                    </p>
                </div>
            </div>
            <div class="container-line right wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 703 ]</h5>
                    <p class="text-justify">
                        L'humanité a complétement développé ses villes sur un système arcanique grâce
                        aux savoirs ondins récoltés et aux recherches. Leur puissance militaire n'arrive
                        cependant pas à lutter contre les royaumes voisins rentrés en guerre.
                    </p>
                </div>
            </div>
            <div class="container-line left wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 994 ]</h5>
                    <p class="text-justify">
                        L'humanité fait face au problème des malemorts. Leur société est au bord de
                        l'effondrement.
                    </p>
                </div>
            </div>
            <div class="container-line right wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 1033 ]</h5>
                    <p class="text-justify">
                        Création des automates à l'aide des coeurs en arcanite.
                        L'humanité devient maîtresse des ressources arcaniques et fonde l'Empire après leur
                        victoire sur le continent grâce aux machines.
                    </p>
                </div>
            </div>
            <div class="container-line left wow fadeIn">
                <div class="content">
                    <h2>Ère nouvelle</h2>
                    <h5 class="text-muted">[ ~ l'an 1122 ]</h5>
                    <p class="text-justify">
                        Arrivée des premières Écoles élémentaires arcaniques par l'Empereur afin de
                        favoriser l'emploi et la sécurité dans le domaine de l'arcane. Son utilisation
                        pour l'invocation est purement militaire. Pratiquer l'invocation est punissable
                        par les lois humaines.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% block style %}
    <style>
        .timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
        }

        /* The actual timeline (the vertical ruler) */
        .timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: #2d3035;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }

        /* Container around content */
        .container-line {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            width: 50%;
        }

        /* The circles on the timeline */
        .container-line::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -13px;
            background-color: #2d3035;
            border: 4px solid #7e7e69;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }

        /* Place the container to the left */
        .left {
            left: 0;
        }

        /* Place the container to the right */
        .right {
            left: 50%;
        }

        /* Add arrows to the left container (pointing right) */
        .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid #2d3035;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #2d3035;
        }

        /* Add arrows to the right container (pointing left) */
        .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid #2d3035;
            border-width: 10px 10px 10px 0;
            border-color: transparent #2d3035 transparent transparent;
        }

        /* Fix the circle for containers on the right side */
        .right::after {
            left: -13px;
        }

        /* The actual content */
        .content {
            padding: 20px 30px;
            background-color: #2d3035;
            position: relative;
            border-radius: 6px;
            border: .1rem solid #7e7e69;
        }

        /* Media queries - Responsive timeline on screens less than 600px wide */
        @media screen and (max-width: 600px) {
            /* Place the timelime to the left */
            .timeline::after {
                left: 31px;
            }

            /* Full-width containers */
            .container-line {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }

            /* Make sure that all arrows are pointing leftwards */
            .container-line::before {
                left: 60px;
                border: medium solid #2d3035;
                border-width: 10px 10px 10px 0;
                border-color: transparent #2d3035 transparent transparent;
            }

            /* Make sure all circles are at the same spot */
            .left::after, .right::after {
                left: 15px;
            }

            /* Make all right containers behave like the left ones */
            .right {
                left: 0;
            }
        }
    </style>
{% endblock style %}