<section class="container my-5">

    <ul class="nav nav-tabs nav-justified text-center h4 mb-3 py-3 border-bottom">
        <li class="active col-lg-3">
            <a href="#divin" aria-controls="general" role="tab" data-toggle="tab">Ère divine</a>
        </li>
        <li class="active col-lg-3">
            <a href="#antique" aria-controls="univers" role="tab" data-toggle="tab">Ère antique</a>
        </li>
        <li class="active col-lg-3">
            <a href="#medique" aria-controls="character" role="tab" data-toggle="tab">Ère médique</a>
        </li>
        <li class="active col-lg-3">
            <a href="#moderne" aria-controls="character" role="tab" data-toggle="tab">Ère moderne</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="divin" class="tab-pane show fade in active text-justify">
            <p>
                La guerre. Les Dieux l'appellent la <span class="font-italic">saison éternelle</span>.
                Elle est à l'origine de tout. Du chaos, elle engendre la vie.
                Du sang versé, naissent les étoiles. Les Dieux ne connaissent que ça.
                Mais du fond des âges immémoriaux, certains aspiraient déjà à la paix.
            </p>
            <p>
                Parmi ces Êtres sans âge, une fratrie se démarquait du reste des déidés :
                les <span class="font-weight-bold">Juges</span>.
                Craints pour leur violence impartiale, les Juges estimaient que l'extinction de toute vie
                apporterait la paix dans l'Univers. Aucun Dieu n'était épargné par leur cruauté.
                Leur réputation les précédait et bientôt les trois Êtres divins devinrent des Dieux parmi
                les Dieux. Dans l'espoir d'échapper à leur folie, certaines divinités se rassemblèrent
                afin d'élaborer un plan. Conscients que la fuite ne pourrait durer l'éternité,
                les Dieux prièrent les astres de leur venir en aide. Ainsi, quatre d'entre eux purent
                s'échapper dans un autre plan de la réalité avant que les Juges ne les exterminent.
            </p>
            <p>
                <span class="font-italic">Nystra</span>, <span class="font-italic">Agonar</span>,
                <span class="font-italic">Zanarel</span> et <span class="font-italic">Yseria</span>.
                Tels étaient ceux qui avaient survécu à la folie des Juges. Dans leur nouveau Monde,
                ils baptirent un havre de paix qu'ils nomèrent :
                <span class="font-weight-bold">Création</span>. Le Monde était bon et paisible.
                Mais cela ne convenait pas à <span class="font-italic">Nystra</span>
                qui se lassait de cette monotonie.
                Vivre sans but lui était insupportable. Elle convainquit les autres Dieux de lui venir
                en aide : s'ils étaient les derniers des leurs, alors ils engendreraient une nouvelle vie.
                <span class="font-italic">Agonar</span> était contre cette idée. Il avait peur que le chaos
                règne à nouveau et corrompt Création. Se passant de ces services,
                les trois déidés façonnèrent leur nouvelle vie. <span class="font-italic">Yseria</span>
                modula son corps, aussi fragile et éphémère qu'une larme.
                <span class="font-italic">Zanarel</span> lui insuffla la conscience,
                afin de connaître sa place dans le Monde,
                tandis que <span class="font-italic">Nystra</span> lui apporta les émotions,
                pour qu'ils puissent ressentir comme les Dieux ressentaient.
                Ainsi naquirent les premiers mortels.
            </p>
            <p>
                Le temps passa et les mortels prospéraient aux côtés des Dieux. Grâce aux préparatifs de
                <span class="font-italic">Zanarel</span>, ils purent évoluer au fil des siècles.
                Bientôt, les premiers cultes en leur honneur apparurent.
                Tandis qu'<span class="font-italic">Agonar</span> voyait toujours cette engeance d'un
                mauvais oeil. Lorsque les premiers conflits éclatèrent parmi les races inférieures,
                <span class="font-italic">Agonar</span> s'en prit aux siens, pointant du doigt l'erreur
                qu'ils avaient commise. Les mortels n'étaient pas si différent des Dieux. Mais le trio
                créateur refusa d'entendre raison. Leur amour pour leurs enfants étaient infini.
            </p>
        </div>
    </div>

</section>